@page "/viajes"
@inject IViajeService ViajeService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>viaje</PageTitle>
<div class="m-3">
    <RadzenButton Click=@(args => OpenCreate())>
        <ChildContent>
            <RadzenIcon Icon="add"></RadzenIcon>
            <RadzenLabel Text="Crear"></RadzenLabel>
        </ChildContent>
    </RadzenButton>

    <RadzenButton Click=@(args => LoadViajes())>
        <ChildContent>
            <RadzenIcon Icon="refresh"></RadzenIcon>
            <RadzenLabel Text="Actualizar"></RadzenLabel>
        </ChildContent>
    </RadzenButton>
</div>


@if (Viajes == null || Viajes?.Count() == 0)
{
    <p>No hay registros para mostrar</p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true"
                Data="@Viajes" TItem="ViajeResponse">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="ViajeResponse" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template Context="data">
                    @(Viajes.ToList().IndexOf(data) + 1)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ViajeResponse" Property="Nombre" Title="Nombre" />
            <RadzenDataGridColumn Width="160px" TItem="ViajeResponse" Property="Id" Title="Acciones">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" Click=@(args => OpenDetails(data.Id)) />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click=@(args => OpenDelete(data.Id)) />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

<style>
    .product-title {
        min-height: 72px;
        color: #da0074;
        background-color: rgba(255, 41, 155, .1);
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
</style>

@code {

    IEnumerable<ViajeResponse> Viajes;

    async Task LoadViajes()
    {
        var response = await ViajeService.GetViajesAsync();
        if (response.Success)
            Viajes = response.Result;
        else Console.WriteLine(response.Message);
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await ViajeService.GetViajesAsync();
        if (response.Success)
            Viajes = response.Result;
        else Console.WriteLine(response.Message);

        DialogService.OnClose += (args) => { Close(args); };

    }
    async Task Close(dynamic result)
    {
        await LoadViajes();
    }


    public async Task OpenDetails(int ViajeId)
    {
        /*
         * 
        await DialogService.OpenAsync<Pages.Viaje.ViajeDetails>($"Viaje {ViajeId}",
               new Dictionary<string, object>() { { "Id", ViajeId } },
               new DialogOptions() { Resizable = true, Draggable = true, CloseDialogOnOverlayClick = true });
         */
    }

    public async Task OpenDelete(int ViajeId)
    {
        var result = await DialogService.Confirm("¿Estás seguro de eliminar la distribución?\nEsta acción no se puede deshacer.", "Eliminar distribución.", new ConfirmOptions() { OkButtonText = "Sí", CancelButtonText = "No", CloseDialogOnOverlayClick = true });
        if (result.HasValue)
        {
            if (result.Value)
            {
                await ViajeService.DeleteViajeAsync(ViajeId);
                DialogService.Close();
            }
        }
    }

    public async Task OpenCreate()
    {
        await DialogService.OpenAsync<ViajeCreate>($"Nuevo viaje",
               new Dictionary<string, object>() { },
               new DialogOptions() { Width = "500px", Resizable = true, Draggable = true, CloseDialogOnOverlayClick = true });
    }
}